@import "tailwindcss";
@source inline("bg-sky-600 bg-white p-8 rounded-xl shadow-lg text-3xl font-bold text-gray-800 mb-4 text-gray-600 mb-6 px-6 py-2 bg-black text-white rounded-full hover:bg-gray-800 min-h-screen flex items-center justify-center text-center transition");

@tailwind base;
@tailwind components;
@tailwind utilities;